:root {
    --primary-cols: #00577C;
    --secondary-cols: #2E7D33;
    --accent1-cols: #264554;
    --accent2-cols: #F67C00;
    --heading-font: "Bebas Neue", sans-serif;
    --text-font: "Open Sans" sans-serif;
}

.header {
    background-color: var(--primary-cols);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 1300px;
}

.navigation img {
    height: 40px;
    margin-right: 20px;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: flex;
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navigation li {
	flex: 1 1 auto;
    white-space: nowrap;
    font-size: 1.1rem;
    margin: 0 10px;
}

.navigation a:hover {
	color: red;
	font-weight: 700;
	text-decoration: underline;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    padding: 10px;
    text-align: center;
    border: 1px solid #999;
    margin: 10px;
}

.hero h2 {
    margin-bottom: 15px;
    font-size: 260%;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
}

.hero p {
    width: 70px;
    max-width: 500px;
    margin: 0;
    padding-left:10px;
    order: 1;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}

.hero img{
    width: 30%;
    height: auto;
    max-width: 250px;
    order: 2;
}

body {
    font-family: var(--text-font);
    color: var(--accent1-cols);
    font-weight: bold;
    font-size: larger;
}

footer {
    width: 1300px;
    margin: 0 auto;
}

.socialmedia a {
    text-decoration: none;
}